/*
 * Globals
 */
@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #555;
}

a:hover {
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default body.
 */
/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/*
 * Masthead for nav
 */
.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
}

/*
 * Blog name and description
 */
header {
  margin-bottom: 20px;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/*
 * Main column and sidebar layout
 */
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}

.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 2rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/**
* Nav
 */
.nav-item {
  display: block;
}

form {
  margin-bottom: 0;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem;
  /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

/** Posts list **/
.posts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts-list li {
  float: left;
  width: 24.933%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.posts-list li > img {
  margin-bottom: .75rem;
}

.posts-list li .title {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.posts-list li .text {
  font-size: 85%;
  color: #212529;
}

/**
* Post Content
*/
.post-wrapper > figure,
.post-wrapper > figure img {
  width: 100%;
  display: block;
}

.post-wrapper > figure figcaption {
  color: #999;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-content figure,
.post-content figure img {
  width: 100%;
  display: block;
}

.post-content figure figcaption {
  color: #999;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-featured-video {
  width: 100%;
}

/**
* Languages
*/
.languages-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.languages-list a {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
  padding-right: .5rem;
  padding-left: .5rem;
}

.languages-list a:hover,
.languages-list a:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.languages-list .active a {
  color: #fff;
}

.languages-list .active a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

/**
* Languages
*/
/*Author*/
.avatar {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Tags*/
.single-tag-wrapper {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.single-tag-wrapper > figure {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

.single-tag-wrapper > figure figcaption {
  font-size: 0.8rem;
  color: #999;
  margin-top: 10px;
}

.single-tag-wrapper figure img {
  border-radius: 49%;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 10px #e0e0e0;
  box-shadow: 0px 0px 10px #e0e0e0;
}

.post-tags-list {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 0;
}

.post-tags-list li {
  display: inline-block;
  margin-right: 20px;
}

.post-tags-list li:last-child {
  margin-right: 0;
}

.post-tags-list li a {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.3rem 0.75rem;
  font-size: 0.8rem;
  line-height: 1.25;
  border-radius: 2rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.post-tags-list li a:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/** Author **/
.single-author-wrapper {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.single-author-wrapper > figure {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

.single-author-wrapper > figure img {
  border-radius: 49%;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 10px #e0e0e0;
  box-shadow: 0px 0px 10px #e0e0e0;
}

.single-author-wrapper > figure figcaption {
  font-size: 0.8rem;
  color: #999;
  margin-top: 10px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.inner-search-form .form-control {
  float: left;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.bg-white {
  background-color: #fff !important;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-link {
  font-size: 16px;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}
